<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
    bootstrap="bootstrap.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    verbose="false"
>
    <testsuites>
        <testsuite name="Digipolis Renovation Calculations">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">**/</directory>
        </testsuite>
    </testsuites>
</phpunit>
