{% extends 'DigipRenovationBundle::admin.html.twig' %}

{% block content %}

    <div class="container">

        <h1>Paginas</h1>

        <table class="table table-striped">
            <tr>
                <th>pagina</th>
                <th>acties</th>
            </tr>
            {% for content in contents %}
            <tr>
                <td>{{ content.label }}</td>
                <td class="text-right">
                    <a href="{{ path('admin_content_edit', { slug: content.slug }) }}" class="btn btn-primary">aanpassen</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}
