{% extends 'DigipRenovationBundle::admin.html.twig' %}

{% block content %}

    <div class="container">
        <form method="post">
            {% for category in categories %}
                <h4>{{ category.label }}</h4>
                {% for config in category.configs %}
                    <fieldset class="form-group">
                        <div class="form-input">
                            <input type="text" name="config[{{ config.id }}]" value="{{ config.label }}" placeholder="{{ config.label }}" class="form-control" />
                        </div>
                    </fieldset>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>

{% endblock %}