{% extends 'DigipRenovationBundle::email.html.twig' %}

{% block base_content %}

    <div class="page-heading" style="background: #2c3e48; padding: 10px;">
        <img height="53" src="https://klimaat.stad.gent/checkjehuisbundles/digiprenovation/images/logo-gent-header.svg" />

        <h1 style="color: #FFF">Gent Klimaatstad</h1>
    </div>

    <p>
        Beste,<br />
        <br />
        Bedankt om je huis te checken.  In bijlage vind je je persoonlijk stappenplan.<br />
        Wij wensen je veel succes bij het energiezuinig renoveren van je huis.
    </p>

    <img src="https://klimaat.stad.gent/checkjehuisbundles/digiprenovation/images/energiecentrale-footer.jpg" width="600" />
{% endblock %}
