<html>
<head>
    <style>
        /* head styles will probably be ignored by most email clients... */
        * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    </style>
</head>
<body>

{% block base_content %}{% endblock %}

</body>
</html>