{% extends 'email.html.twig' %}

{% block base_content %}

    <div class="page-heading" style="background: #2c3e48; padding: 10px;">
        <img height="53" src="https://klimaat.stad.gent/checkjehuis/build/images/logo-gent-header.svg" />

        <h1 style="color: #FFF">Gent Klimaatstad</h1>
    </div>

    <p>
        Beste,<br />
        <br />
        Maak je woning energiezuinig, bespaar voor het leven.<br />
        Hoe energiezuinig is jouw woning? Hoe kan het beter? Wat kost het en wat brengt het op?  Welke premies zijn er?<br />
        Bekijk de mogelijkheden van jouw huis, download het stappenplan en bereken je winst.<br />
        <br />
        Bekijk <a href="{{ url('app_index') }}">van hieruit</a> verder hoe je beter kan wonen in klimaatstad Gent.<br />
        <br />
        Veel succes!
    </p>

    <img src="https://klimaat.stad.gent/checkjehuis/build/images/energiecentrale-footer.jpg" width="600" />
{% endblock %}
